<% if @name%>
  <h1>My Name is <%=@name %></h1>
<% end %>

<div style='border: 3px dashed red'>
   <img src='http://www.rantpets.com/wp-content/uploads/2015/03/Screen-shot-2015-03-25-at-1.58.21-PM.png'>
</div>
